<div class="card mb-4">
  <div class="card-header">
    <h5 class="mb-0"><i class="fas fa-id-card"></i> Enrollment Verification</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>Name:</strong>
          <%= [application.enrollment_first_name, application.enrollment_middle_name, application.enrollment_last_name].compact.reject(&:blank?).join(" ") %>
        </p>
        <p>
          <strong>Date of Birth:</strong>
          <%= application.enrollment_date_of_birth&.strftime("%B %d, %Y") || "Not provided" %>
        </p>
        <p>
          <strong>Sex:</strong>
          <%= application.enrollment_sex || "Not provided" %>
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <strong>Phone:</strong>
          <%= application.enrollment_phone || "Not provided" %>
        </p>
        <p>
          <strong>Place of Birth:</strong>
          <%= application.enrollment_place_of_birth || "Not provided" %>
        </p>
        <p>
          <strong>Mailing Address:</strong>
          <%= [application.enrollment_mailing_city, application.enrollment_mailing_state, application.enrollment_mailing_zip].compact.reject(&:blank?).join(", ").presence || "Not provided" %>
        </p>
      </div>
    </div>
  </div>
</div>
