<%= render 'shared/admin_navbar' %>

<div class="container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Edit Student Profile</h6>
        </div>
        <div class="card-body">
          <%= form_with model: @student, url: admin_student_path(@student), method: :patch, local: true do |f| %>
            <div class="row mb-3">
              <div class="col-md-4">
                <label class="form-label">First Name</label>
                <%= f.text_field :first_name, class: "form-control" %>
              </div>
              <div class="col-md-2">
                <label class="form-label">MI</label>
                <%= f.text_field :middle_initial, class: "form-control", maxlength: 1 %>
              </div>
              <div class="col-md-6">
                <label class="form-label">Last Name</label>
                <%= f.text_field :last_name, class: "form-control" %>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">Date of Birth</label>
                <%= f.date_field :date_of_birth, class: "form-control" %>
              </div>
              <div class="col-md-6">
                <label class="form-label">Tribal ID</label>
                <%= f.text_field :tribal_id, class: "form-control", readonly: true, disabled: true %>
                <small class="text-muted">Tribal ID cannot be changed</small>
              </div>
            </div>

            <hr>

            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">Email Address</label>
                <%= f.email_field :email_address, class: "form-control" %>
              </div>
              <div class="col-md-6">
                <label class="form-label">Phone</label>
                <%= f.text_field :permanent_phone, class: "form-control" %>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Mailing Address</label>
              <%= f.text_field :mailing_address_permanent, class: "form-control" %>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">City</label>
                <%= f.text_field :city, class: "form-control" %>
              </div>
              <div class="col-md-3">
                <label class="form-label">State</label>
                <%= f.text_field :state, class: "form-control", maxlength: 2 %>
              </div>
              <div class="col-md-3">
                <label class="form-label">Zip Code</label>
                <%= f.text_field :zip_code, class: "form-control" %>
              </div>
            </div>

            <hr>

            <div class="mb-3">
              <label class="form-label">Lifetime Award Notes</label>
              <%= f.text_area :lifetime_award_notes, class: "form-control", rows: 4,
                              placeholder: "Internal notes about this student's award history..." %>
            </div>

            <div class="d-flex justify-content-between">
              <%= link_to "Cancel", admin_student_path(@student), class: "btn btn-outline-secondary" %>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
