<style>
  /* Hover dropdown for navbar */
  @media (min-width: 992px) {
    .navbar .nav-item.dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    }
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="color:#05292e;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin/dashboard">Sitka Tribe of Alaska</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="color:#05292e;">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Dashboard', admin_dashboard_path, class: 'nav-link' %>
        </li>

        <!-- Applications Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Applications
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><%= link_to 'View Recent', admin_dashboard_path(anchor: 'recent-applications'), class: 'dropdown-item' %></li>
            <li><%= link_to 'View All Applications', admin_applications_path, class: 'dropdown-item' %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Pending Applications', admin_applications_path(status: 'submitted'), class: 'dropdown-item' %></li>
          </ul>
        </li>

        <!-- Verifications Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Verifications
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><%= link_to 'Verification Workflow', admin_verification_workflow_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'Verification Overview', admin_verification_overview_path, class: 'dropdown-item' %></li>
          </ul>
        </li>

        <li class="nav-item">
          <%= link_to 'Student Profiles', admin_students_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Historical Records', admin_historical_applications_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
