<h2 class="mt-5">Education Plan</h2>
<div class="mt-3">
  <%= f.label :college_name, "Name of College/University" %>
  <%= f.text_field :college_name, class: "form-control" %>
</div>
<div class="mt-3">
  <%= f.label :college_financial_aid_office, "College Financial Aid Office Email | Please ensure email is correct | Scholarship check will be mailed to this address" %>
  <%= f.text_field :college_financial_aid_office, class: "form-control" %>
</div>
<div class="row g-3 mt-3">
  <div class="col-md-6">
    <%= f.label :college_phone, "Phone Number" %>
    <%= f.telephone_field :college_phone, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label :college_fax, "Fax Number" %>
    <%= f.text_field :college_fax, class: "form-control" %>
  </div>
</div>
<div class="mt-3">
  <%= f.label :college_financial_aid_mailing_address, "Financial Aid Office Mailing Address" %>
  <%= f.text_field :college_financial_aid_mailing_address, class: "form-control" %>
</div>
<div class="row g-3 mt-3">
  <div class="col-md-4">
    <%= f.label :college_city, "City" %>
    <%= f.text_field :college_city, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :college_state, "State" %>
    <%= f.text_field :college_state, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :college_zip_code, "Zip Code" %>
    <%= f.text_field :college_zip_code, class: "form-control" %>
  </div>
</div>
<div class="mt-3">
  <%= f.label :college_term_type, "College/University Term Type" %><br>
  <% ["Quarter", "Trimester", "Semester"].each_with_index do |term, index| %>
    <div class="form-check form-check-inline">
      <%= f.radio_button :college_term_type, term, id: "term_#{index}" %>
      <%= f.label "term_#{index}", term, class: "form-check-label" %>
    </div>
  <% end %>
</div>
<div class="mt-3">
  <%= f.label :deadline_fee_payments, "Deadline for Fee Payments (Fall, Winter, Spring, Summer)" %>
  <%= f.text_field :deadline_fee_payments, class: "form-control", placeholder: "Enter deadlines separated by commas" %>
</div>
<div class="mt-3">
  <%= f.label :credits_taking, "Number of Credits Taking (Fall, Winter, Spring, Summer)" %>
  <%= f.text_field :credits_taking, class: "form-control", placeholder: "Enter number of credits for each term" %>
</div>
<div class="mt-3">
  <%= f.label :current_degree_program, "Current Degree Program" %><br>
  <% ["Associates", "Bachelors (B.S./B.A.)", "Masters", "Doctorate", "Juris Doctorate", "Other"].each_with_index do |degree, index| %>
    <div class="form-check form-check-inline">
      <%= f.radio_button :current_degree_program, degree, id: "degree_#{index}" %>
      <%= f.label "degree_#{index}", degree, class: "form-check-label" %>
    </div>
  <% end %>
</div>
<div class="mt-3">
  <%= f.label :expected_graduation_date, "Expected Date of Graduation" %>
  <%= f.date_field :expected_graduation_date, class: "form-control" %>
</div>
<div class="mt-3">
  <%= f.label :class_standing, "Class Standing for Next Academic Year" %><br>
  <% ["Freshman", "Sophomore", "Junior", "Senior", "Graduate"].each_with_index do |standing, index| %>
    <div class="form-check form-check-inline">
      <%= f.radio_button :class_standing, standing, id: "standing_#{index}" %>
      <%= f.label "standing_#{index}", standing, class: "form-check-label" %>
    </div>
  <% end %>
</div>
<div class="row g-3 mt-3">
  <div class="col-md-6">
    <%= f.label :field_of_study, "Field of Study/Major" %>
    <%= f.text_field :field_of_study, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label :minor, "Minor" %>
    <%= f.text_field :minor, class: "form-control" %>
  </div>
</div>
