<%= render 'shared/student_navbar' %>

<div class="container my-5">
  <!-- Header and Instructions -->
  <%= render 'scholarship_applications/form_header' %>

  <%= form_with model: @application, url: scholarship_applications_path, local: true, html: { class: "needs-validation" } do |f| %>
    <%= render 'scholarship_applications/form_applicant_information', f: f %>
    <%= render 'scholarship_applications/form_education_history', f: f %>
    <%= render 'scholarship_applications/form_education_plan', f: f %>
    <%= render 'scholarship_applications/form_educational_goals', f: f %>
    <%= render 'scholarship_applications/form_budget_forecast', f: f %>
    <%= render 'scholarship_applications/form_release_of_information', f: f %>
    <%= render 'scholarship_applications/form_enrollment_verification', f: f %>
    <%= render 'scholarship_applications/financial_needs_student', f: f %>
    <%#= render 'scholarship_applications/financial_needs_office', f: f %>
    <%= render 'scholarship_applications/form_photo_release', f: f %>
    <%= render 'scholarship_applications/form_parental_release', f: f %>
    <%= render 'scholarship_applications/form_arpa', f: f %>
    <%= render 'scholarship_applications/form_submit_button', f: f %>
  <% end %>

  <%= render 'scholarship_applications/form_javascript' %>
</div>
